<!DOCTYPE html>
<html ng-app="CountyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>County</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Action("SiteMenu", "Main")

    <div class="container body-content">
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Ori Calvo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
</body>
</html>
